.idea/**
*.pyc
workspace.xml
.idea/workspace.xml
*analytics/settings/local.py
*.ipynb
analytics/settings/local.py
.vscode/**
fb/fb_spiders/.vscode/**
social_analytics/*.pyc
.idea/analytics.iml
.idea/analytics.iml
.idea/misc.xml
.idea/workspace.xml
.vscode/settings.json
fb/fb_spiders/logs/**
*.ipynb
newsscrappers/cronlogs/*
